  <section class="contenido wrapper">
  <p>Los niños comienzan comunicarse pronto. O al menos, claro, lo intentan. Su comprensión del lenguaje y sus habilidades motoras se desarrollan más rápido que el habla. El aprendizaje de los más pequeños empieza por la imitación, de ahí que aprender lengua de señas sea más natural. Muchos padres podrían pensar que este tipo de comunicación interfiere con el desarrollo natural del lenguaje hablado, pero tan solo lo complementa, a fin de que el proceso comunicativo sea más claro. 
  </p>
</section>
